aiosqlite==0.21.0
alembic==1.16.4
annotated-types==0.7.0
astroid==3.3.11
asyncpg==0.30.0
bandit==1.8.6
black==25.1.0
boolean.py==5.0
CacheControl==0.14.3
certifi==2025.7.14
cfgv==3.4.0
charset-normalizer==3.4.2
click==8.2.1
coverage==7.10.1
cyclonedx-python-lib==9.1.0
defusedxml==0.7.1
dill==0.4.0
distlib==0.4.0
dnspython==2.7.0
email_validator==2.2.0
Faker==37.4.2
filelock==3.18.0
flake8==7.3.0
greenlet==3.2.3
identify==2.6.12
idna==3.10
iniconfig==2.1.0
isort==6.0.1
license-expression==30.4.4
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.1
mypy==1.17.0
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==1.24.0
packageurl-python==0.17.2
packaging==25.0
pandas==1.5.0
pathspec==0.12.1
pbr==6.1.1
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
psutil==7.0.0
psycopg2-binary==2.9.10
py-serializable==2.1.0
pycodestyle==2.14.0
pydantic==2.11.7
pydantic_core==2.33.2
pyflakes==3.4.0
Pygments==2.19.2
pylint==3.3.7
pyparsing==3.2.3
pytest==8.4.1
pytest-asyncio==1.1.0
pytest-cov==6.2.1
pytest-faker==2.0.0
PyYAML==6.0.2
requests==2.28.0
rich==14.1.0
six==1.16.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.42
stevedore==5.4.1
toml==0.10.2
tomlkit==0.13.3
types-PyYAML==6.0.12.20250516
types-requests==2.32.4.20250611
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
-e git+https://github.com/VetClinica/vet-core-package.git@fe311cbe8a4431beefc631b69e24eaba226b9a30#egg=vet_core
virtualenv==20.32.0
